<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <center>
    
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid pt-3 justify-content-center" >
    <h2 style="color: teal; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  Records 
    <%=title%> page</h2>
    </div>
  </nav>
<br>
<br>
<br>

<div class="card-pt3" style="width:400px; height: 300px; ">
    
    <form action="/home" method="GET">    

    <div class= "form group"> 
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" placeholder="username" name="username" id="username">
    </div>

    
    <div class= "form group"> 
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="password" name="password" id="password">
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</center>
</body>
</html>